mixin main
    .main
        .container.container--lg
            .row
                .col-12
                    .main__heading
                        h3 Who we are
                        h1 Hello & Namaste
            .row.d-flex.justify-content-center
                .col-5
                    .main__paragraph
                        p We do not build websites but user experiences. We judge our performance according to the impact it
            .row.no-gutters
                .col-3
                    .main__content
                        img(src="./img/Anchor.png" alt="anchor")
                        h3 Web Design
                        .main__description
                            p Fresh, lively and informative content, is key to any success-ful website, so take a look at your website's content on a regular basis. 
                .col-3
                    .main__content
                        img(src="./img/Diamond.png" alt="diamond")
                        h3 Web Development
                        .main__description
                            p Fresh, lively and informative content, is key to any success-ful website, so take a look at your website's content on a regular basis.
                .col-3
                    .main__content
                        img(src="./img/Eyeglasses.png" alt="glasses" class="glasses")
                        h3 Graphics
                        .main__description
                            p Fresh, lively and informative content, is key to any success-ful website, so take a look at your website's content on a regular basis.
                .col-3
                    .main__content
                        img(src="./img/Monitor.png" alt="monitor" class="monitor")
                        h3 Illustrations
                        .main__description
                            p Fresh, lively and informative content, is key to any success-ful website, so take a look at your website's content on a regular basis.
